@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  padding: 0;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background-color: #2b2d42;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 0% 40%, #737d8e 0, transparent 40%);
  /* radial-gradient(at 50% 20%, #d90429 0, transparent 50%); */
}

.gradient-bg-services {
  background-color: #2b2d42;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 0%
    ),
    radial-gradient(at 100% 50%, #737d8e 0, transparent 40%);
}

.gradient-bg-transactions {
  background-color: #2b2d42;
  background-image: radial-gradient(
      at 0% 100%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 0%
    ),
    radial-gradient(at 50% 50%, #8d99ae 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #2b2d42;
  background-image: radial-gradient(
      at 0% 100%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 53%
    ),
    radial-gradient(at 50% 150%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
}

.blue-glassmorphism {
  background: rgba(67, 73, 92, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
  background-color: hsla(227, 76%, 65%, 1);
  background-image: radial-gradient(
      at 0% 67%,
      rgb(182, 184, 204) 0,
      transparent 60%
    ),
    radial-gradient(at 9% 97%, hsla(261, 88%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 90% 38%, hsla(352, 86%, 53%, 1) 0px, transparent 50%),
    radial-gradient(at 17% 2%, hsla(356, 66%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 54% 87%, hsla(227, 76%, 65%, 1) 0px, transparent 50%),
    radial-gradient(at 68% 82%, hsla(228, 78%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 9% 24%, hsla(349, 96%, 43%, 1) 0px, transparent 50%),
    radial-gradient(at 19% 47%, hsla(226, 76%, 81%, 1) 0px, transparent 50%);
}

.text-gradient {
  background-color: #edf2f4;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
button {
  color: #d90429;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
